.home {
  padding-top: 5rem;
  padding-bottom: 3rem;
}

.home_title {
  text-align: center;
  margin: 0 0 0.5rem;
}

.home_logo {
  width: 284px;
  max-width: 90%;
}

.home_subtitle {
  text-align: center;
  margin-bottom: 3rem;
}

.home_calculatorContainer {
  color: #282828;
  display: block;
  border-radius: 10px;
  border: 1px solid #e0e0e0;
  padding: 1.5rem;
  margin-bottom: 3rem;
  outline: none;
}

.home_calculatorTitle {
  font-size: 1.375rem;
  font-weight: 900;
  color: #282828;
  margin: 0 0 1rem;
}

.home_calculatorDescription {
  margin: 0 0 1rem;
  line-height: 1.5;
}

.home_launchLinkContainer {
  display: flex;
  justify-content: center;
}

.home_launchCalculatorLink {
  position: relative;
  font-size: 0.875rem;
  font-weight: 500;
  padding: 0.45rem 0.8rem;
  border-radius: 0.45rem;
  color: white;
  background: #3c66ff;
  background: radial-gradient(circle at 0%, #6f58ff, #2e6bff);
  outline: none;
}

.home_launchCalculatorLink.focus-visible {
  box-shadow: 0 0 0 1px white, 0 0 0 3px #3c66ff;
}

.home_launchCalculatorLink:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.075);
  opacity: 0;
}

.home_launchCalculatorLink:hover:after {
  opacity: 1;
}

.home_calculatorTags {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0.3rem;
}

.home_calculatorTag {
  border-radius: 10000px;
  background: #f1ecff;
  color: #6231e2;
  font-size: 0.875rem;
  padding: 0.25rem 0.75rem;
  font-weight: 500;
  margin-right: 0.325rem;
  margin-bottom: 0.5rem;
}

.home_calculatorTag:last-child {
  margin-right: 0;
}

@media (max-width: 551px) {
  .home {
    padding-top: 3rem;
    padding-bottom: 1.5rem;
  }

  .home_calculatorContainer {
    margin-bottom: 1.5rem;
  }
}

@media (max-width: 350px) {
  .home {
    padding-top: 2rem;
  }

  .home_subtitle {
    margin-bottom: 2rem;
  }
}
