.home {
  padding-top: 5rem;
}

.home_title {
  text-align: center;
  margin: 0 0 0.5rem;
}

.home_logo {
  width: 284px;
  max-width: 90%;
}

.home_subtitle {
  text-align: center;
  margin-bottom: 3rem;
}

.home_calculatorLink {
  color: #282828;
  display: block;
  background: #f1f1f1;
  border-radius: 10px;
  border: 3px solid transparent;
  padding: 1rem;
  margin-bottom: 1rem;
  outline: none;
}

.home_calculatorLink:focus {
  border-color: var(--mainColor);
}

.home_calculatorLink:hover {
  background: #ececec;
}

@media (max-width: 551px) {
  .home {
    padding-top: 2rem;
  }
}
