@import "./styles/normalize.css";

@import "./vendor/good-modal/good-modal.css";

@import "./styles/variables.css";

@import "./common/modal.css";
@import "./common/popover.css";
@import "./styles/button.css";
@import "./styles/sheet.css";
@import "./styles/overlay.css";
@import "./styles/cursor.css";
@import "./calculators/calculator.css";

:root {
  --weightedEase: cubic-bezier(0.5, 0, 0.1, 1);
  --materialStandardEase: cubic-bezier(0.4, 0, 0.2, 1);

  --mainColor: #5b36ff;
  --containerBorderColor: #ccc;
}

a {
  font-weight: bold;
  color: var(--mainColor);
  text-decoration: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root,
.app,
.app_contents {
  min-height: var(--appHeight);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  cursor: pointer;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

.heading1 {
  color: #282828;
  font-weight: 900;
  font-size: 1.8rem;
  margin: 0 0 1rem;
}

.heading2 {
  color: #282828;
  font-weight: 900;
  font-size: 1.5rem;
  margin: 0 0 1rem;
}

kbd {
  font-size: 0.8em;
  background: #d8d8d8;
  border-radius: 0.25rem;
  color: #333;
  padding: 0.25rem 0.25rem;
  margin: 0 0.4em;
  box-shadow: 0 2px 0 0 #aaa;
  text-transform: uppercase;
}

p {
  line-height: 1.45;
}
