header {
  padding: 0.75rem 0;
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header_contents {
  width: 100%;
  max-width: var(--appWidth);
  padding: 0 var(--contentPadding);
  display: flex;
  justify-content: center;
}

.header_link {
  display: inline-block;
}

.header_logo {
  height: 2rem;
}
