input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.input {
  position: relative;
  display: inline-flex;
  align-items: center;
  border-radius: 5px;
  white-space: nowrap;
}

.valueInput_prefix,
.valueInput_suffix {
  position: relative;
  z-index: 2;
  font-weight: bold;
  color: #848484;
  font-size: 0.9375em;
}

@media (max-width: 551px) {
  .valueInput_prefix,
  .valueInput_suffix {
    font-size: 0.9375em;
  }
}

.valueInput_prefix {
  padding-left: 0.6rem;
  pointer-events: none;
}

.valueInput_suffix {
  padding-right: 0.6rem;
  pointer-events: none;
}

.input_innerInput {
  position: relative;
  z-index: 2;
  border: 0;
  background: none;
  color: #000;
  font-size: 1em;
  font-weight: bold;
  padding: 0.65em 0.75em;
  outline: none;
  flex: 1;
  min-width: 0;
  max-width: 100%;
}

.input-small .input_innerInput {
  font-weight: 500;
}

.valueInput_prefix + .input_innerInput {
  padding-left: 0.3rem;
}

@media (max-width: 551px) {
  .input_innerInput {
    font-size: 1em;
  }
}

.input_visuals {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid transparent;
  border-radius: 8px;
  background: #ececec;
  outline: none;
  min-width: 2rem;
  cursor: text;
}

.input:hover .input_visuals {
  background: #e6e6e6;
}

.input:focus-within .input_visuals {
  background: #ececec;
}

.input-year input {
  width: 4.5rem;
}

.input-annualWithdrawal input {
  width: 6rem;
}

.input-dollars input {
  width: 7.5rem;
}

.input-years input {
  width: 3rem;
}

.input-percent input {
  width: 3.5rem;
}

.input-disabled {
  opacity: 0.5;
}

.input-disabled .input_visuals {
  cursor: default;
}

.input_innerInput:focus ~ .input_visuals {
  border-color: var(--mainColor);
  box-shadow: 0 0 0 2px var(--mainColor);
}

.input-invalid .input_visuals {
  border-color: #ab2121;
  background: #443b3b;
  box-shadow: 0 0 0 1px #ab2121;
}

.valueInput_inputContainer {
  display: inline-block;
}

.valueInput_pairContainer > .valueInput,
.valueInput_pairContainer > .valueInput_inputContainer {
  margin-right: 1rem;
}

.valueInput_pairContainer > .valueInput:last-child,
.valueInput_pairContainer > .valueInput_inputContainer:last-child {
  margin-right: 0;
}

.calculator_rowItem .input {
  width: 100%;
}
